body{

font-family:Arial;

text-align:center;

}



#tablero{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:30px;

}



.capa{

border:2px solid black;

padding:10px;

}



.plano{


display:grid;

grid-template-columns:repeat(4,70px);

gap:5px;


}



.casilla{


width:70px;

height:70px;

font-size:35px;

background:white;


}



.x{

color:blue;

font-weight:bold;

}



.o{

color:red;

font-weight:bold;

}



.ganadora{

background:red;

color:white;

}



button{

font-size:20px;

padding:10px;

margin:10px;

}