*{

box-sizing:border-box;

}



body{

margin:0;

background:#0f172a;

font-family:

"Segoe UI",
Arial,
sans-serif;


color:white;

}



.container{

width:95%;

max-width:1200px;

margin:auto;

padding:30px;


}



header{

text-align:center;

margin-bottom:25px;

}



header h1{

font-size:42px;

margin:0;

font-weight:700;


}



header p{

color:#94a3b8;

font-size:18px;

}





.panel{

background:#1e293b;

border-radius:15px;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;


box-shadow:

0 10px 25px rgba(0,0,0,.3);

}




.info{


display:flex;

gap:25px;

align-items:center;

flex-wrap:wrap;

}



.info div{

background:#334155;

padding:12px 20px;

border-radius:10px;

font-size:18px;

}





.acciones button{


background:#2563eb;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

font-size:16px;

cursor:pointer;

margin-left:10px;

transition:.3s;


}



.acciones button:hover{

background:#1d4ed8;

transform:translateY(-2px);

}





#tablero{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:25px;


}





.capa{


background:#1e293b;

padding:20px;

border-radius:15px;


box-shadow:

0 8px 20px rgba(0,0,0,.3);


}



.capa h3{

text-align:center;

margin-top:0;

color:#cbd5e1;

font-size:20px;

}





.plano{


display:grid;

grid-template-columns:

repeat(4,70px);


gap:8px;


}




.casilla{


height:70px;

width:70px;


border-radius:10px;


border:1px solid #475569;


background:#0f172a;


color:white;


font-size:30px;


font-weight:bold;


cursor:pointer;


transition:.2s;


}




.casilla:hover{


background:#334155;

transform:scale(1.05);


}





.x{

color:#38bdf8;

}



.o{

color:#fb7185;

}





.ganadora{


background:#22c55e!important;

color:white!important;


border-color:white;


animation:

ganador .8s infinite alternate;


}




@keyframes ganador{


from{

transform:scale(1);

}


to{

transform:scale(1.08);

}


}





@media(max-width:800px){


.panel{

flex-direction:column;

gap:20px;

}



.plano{

grid-template-columns:

repeat(4,55px);

}



.casilla{


width:55px;

height:55px;


}



}