body{

text-align:center;
font-family:Arial;

}


#tablero{

display:grid;

grid-template-columns:repeat(4,80px);

gap:10px;

justify-content:center;

margin-top:30px;

}



.casilla{

width:80px;

height:80px;

font-size:35px;

background:white;

border:2px solid black;

cursor:pointer;

}


.casilla:hover{

background:#ddd;

}